/* Write your global styles here, in PostCSS syntax */
@import "tailwindcss";
@import "@fontsource/fira-mono";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes:
		autumn --default,
		sunset --prefersdark;
}

a {
	color: var(--color-accent);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
